.button {
    padding: 15px 10px;
    width: 150px;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    &-bar {
        display: inline-block;
        box-shadow: 0 5px 10px black;
        background-color: #ffe4cd;
        text-decoration: none;
        color: black;
        &:hover {
            background-color: #ffe4cd;
            box-shadow: none;
        }
        &:nth-child(1n+2) {
            margin-left: 20px;
        }
    }
}
.buttons-group {
    display: flex;
}