.form {
    & > * {
        padding: 10px;
    }
    &-footer {
        border-top: 1px solid black;
    }
    &-control {
        display: block;
        width: 100%;
    }
    &-group {
        margin-bottom: 5px;
    }
    &-label {
        display: inline-block;
    }
}