@media screen and (max-width: 769px) {
    .header-item:nth-child(1n + 2) {
        margin-left: 10px;
    }
    .task-note {
        margin-left: 100px;
        height: 450px;
    }
    .modal {
        left: 30%;
    }
}
@media screen and (max-width: 426px) {
    .header {
        flex-direction: column;
        &-item {
            flex-direction: column;
            &:nth-child(1n + 2) {
                margin-left: 0;
                margin-top: 10px;
            }
            & .button-bar {
                margin-left: 0;
                margin-top: 5px;
            }
        }
    }
    .main {
        flex-direction: column;
    }
    .tasks {
        width: 100%;
    }
    .task {
        &-note {
            width: 100%;
            margin-left: 0;
        }
        &-header {
            margin-left: 125px;
        }
    }
    .modal {
        left: 10%;
        padding: 20px;
    }
}
@media screen and (max-width: 376px) {
    .modal {
        left: 5%;
    }
    .task {
        &-header {
            margin-left: 100px;
        }
    }
}
@media screen and (max-width: 321px) {
    .modal {
        left: 0;
    }
    .task {
        &-header {
            margin-left: 75px;
        }
    }
}