.header {
    display: flex;
    padding: 20px 10px;
    align-items: center;
    &-item {
        display: flex;
        position: relative;
        &:nth-child(1n + 2) {
            margin-left: 20px;
        }
        &:last-child {
            margin-left: auto;
        }
    }
}