.modal {
    position: absolute;
    left: 40%;
    top: 10%;
    background-color: rosybrown;
    padding: 50px;
    &-open {
        overflow: hidden;
    }
    &-caption {
        text-align: center;
    }
    &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        z-index: 1;
    }
    & .button-group {
        margin-top: 10px;
    }
}