@import './header';
@import './profile';
@import './logo';
@import './tasks';
@import './modal';
@import './form';
@import './buttons';
@import './dropdown';
@import './main';
@import './media';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
}
body {
    background-color: antiquewhite;
}
ol, ul {
    list-style-type: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}